@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
    --grey : #eee;
    --green : #9defed;
    --blue : #000a42;
    --white : #fff;
    --green_dk : #2EC2BC;
    --purple : #5723AD;
}

body{
    background: var(--blue);
    padding:0;
    margin:0;
    height:100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Montserrat';
    font-size: 0.9em;
    transition: all 0.6s ease;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

a{
    text-decoration: none;
}

#overlay{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--green_dk);
    transition: transform 1s cubic-bezier(1, -0.05, 0.26, 0.95);
}

#progress{
    height: 4px;
    background: var(--blue);
    position: absolute;
    width: 0;
    top:0;
    transition: all 3s ease;
}

#progstat{
    position: absolute;
    top:50vh;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    color: var(--grey);
    transition: all 3s ease;
    left:20px;
}

canvas{
    position: fixed;
    z-index: -1;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: block;
    transition: 1s filter ease;
}

#background svg{
    opacity: 0;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -200;
}

#content-wrapper{
    display: flex;
    z-index: 1;
    color: #fff;
    width: 100vw;
    height:100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.riddler-logo{
    width: 4%;
    min-width: 60px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.csi-logo{
    width: 15%;
    min-width: 250px;
    position: absolute;
    top: 35px;
    right: 30px;
}

.social-icons{
    position: absolute;
    bottom:20px;
    left: 20px;
}

.social-icons svg{
    width: 20px;
    height:20px;
    padding: 10px;
    transition: transform 0.8s ease;
}

.social-icon svg:hover{
    transform: translate(0, -10px);
}

.main-content{
    display: flex;
    height: 50vh;
    width: 40vh;
    top: -20px;
    border: 1px solid var(--green);
    padding: 20px 40px 20px 40px;
    flex-direction:column;
    position: relative;
    left: -25vh;
    justify-content: center;
    font-weight: 100;
    transform: translateX(25vh);
    transition: transform 3s cubic-bezier(0.91, -0.35, 0.26, 0.95);
}

.translateX{
    transform: translateX(0);
}

.title{
    font-size: 1.5em;
    letter-spacing: 2px;
    display: block;
    padding: 10px 0;
}

.organizer{
    position: absolute;
    bottom:30px;
    right: 38px;
}

.organizer{
    color: white;
}

.organizer span:hover{
    transform: translateY(20px);
}

.details{
    position: absolute;
    top:45vh;
    right: -85px;
    transform: rotate(-90deg);
    transition: transform 2s ease;
}

ul{
    text-decoration: none;
    list-style-type: none;
}

li:first-child:after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background: var(--white);
    top: 20px;
    margin: 5px;
    transition: width 1s ease;
}

.color-green{
    color: var(--green);
}

ul:hover li:first-child:after{
    width: 145px;
}

h4{
    margin:0;
    padding: 0 0 30px 0;
    width: 70%;
    letter-spacing: 1px;
}

input{
    width: calc(55% - 10px);
    border: 0;
    height:24px;
    padding: 0 0 0 10px;
    margin:0;
}

input[placeholder]{
    color: var(--blue);
}

.post-result{
    position: relative;
    top: 40px;
    opacity: 0;
    transition: opacity 0.9s ease;
    visibility: hidden;
}

.submit{
    width: 30%;
    background: var(--green);
    border: 0;
    height:24px;
    margin:0 0 0 -4px;
    transition: background 0.6s ease;
    min-width: 80px;
    color: var(--blue);
    cursor: pointer;
    text-align: center;
    padding: 0;
}

.submit:hover{
    background: var(--green_dk);
    color: var(--blue);
}

@media screen and (max-width: 1600px) {
    .main-content{
        display: flex;
        height: 50vh;
        width: 40vh;
        border: 1px solid var(--green);
        padding: 20px;
        flex-direction:column;
        position: relative;
        left: -15vh;
    }
}

@media screen and (max-width: 1040px) {
    .main-content{
        position: relative;
        left:0;
        font-size: 0.8em;
        font-weight: 200;
        transform: translateX(0);
        min-height: 300px;
        overflow: scroll;
    }

    #background svg{
        display: none;
    }

    .submit{
        margin: 0;
    }

}

@media screen and (max-width: 600px) {
    h4{
        padding: 0 0 20px 0;
    }

    .csi-logo{
        visibility: hidden;
    }

    input{
        width: calc(85% - 10px);
    }

    .riddler-logo{
        width: 3%;
        min-width: 50px;
        left: 25px;
    }

    #progstat{
        left: 0;
    }

    #day-display{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    h4{
        letter-spacing: 0;
    }
    li{
        background: rgba(0, 10, 66, 0.5);
    }
    .details{
        right: -105px;
    }
}

::selection{
    background: var(--green_dk);
    color: var(--blue);
}
